*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    @extend %flex;
    padding: 25px;
}