@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


$bug: #93bc2c;
$dark: #595762;
$dragon: #0c6ac7;
$electric: #f2d94e;
$fairy: #ef91e6;
$fighting: #d3425f;
$fire: #fba54c;
$flying: #a1bbec;
$ghost:  #5f6dbc;
$grass: #60bd58;
$ground: #da7c4c;
$ice: #76d0c1;
$normal: #a0a29f;
$poison: #b764cf;
$psychic: #fa8581;
$rock: #c9bc8a;
$steel: #5695a3;
$water: #549ddf;
$press-start: "Press Start 2P";
$breakpoint-tablet: 905px;